* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body,
html {
  width: 100%;
  height: 100%;
  /* background-color:#F6FFFE; */
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
}

#app {
  padding: 2rem;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width:100%;
  min-height: 50vh;
  padding: 2rem;
}
.header-title{
  font-size: 2rem;
  text-align: center;
}
.header-search{
  display: flex;
  justify-content: center;
  width:100%;
  max-width:400px;
}
.header-search__input{
  margin-top:2rem;
  min-width:300px;
  width: 50%;
  border: 2px solid black;
  padding:1rem 1.25rem;
  box-shadow: 1rem 1rem #A15FFB;
}

.header-text__links{
  color: #5E2CA5;
text-decoration: none;
letter-spacing: 0.8px;
}

.header-text{
  margin-top:3rem;
  max-width: 500px;
  text-align:left;
}

#toggle-view {
  display: flex;
  justify-content: flex-end;
}

#toggle-view > a {
  color: #34495e;
  margin: 0 8px;
  text-decoration: none;
  display: block;
  transition: transform 0.2s;
  transform-origin: bottom;
  transform: scale(1);
}

#toggle-view > a.active,
#toggle-view > a:hover {
  font-weight: bold;
  border-bottom: 2px solid #a15ffb;
}
#toggle-view > a:hover {
  transform: scale(1.2);
}

main {
  width:100%;
  padding: 0 4vw;
}

.section{
  width: 100%;
}

.section-header{
  font-size: 1.6rem;
  color: #A15FFB;
  text-align: center;
  margin: 50px 0 15px 0;
}

.examples {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-view .examples {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 30px 0;
}

.section-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 3px 10px;
}

.list-view .section-list {
  width: 300px;
}

.section-list__example {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-view .section-list__example {
  flex-direction: column;
  border: 2px solid #A15FFB;
  box-shadow: 3px 3px 4px 0 #00000021;
  padding: 8px;
  width: 30%;
}

.list-view .section-list__example {
  border-bottom: 1px solid #cccccc;
  padding: 2px 16px;
  align-items: center;
}

.list-view .section-list__example:first-of-type {
  border-top: 1px solid #cccccc;
}

.section-list__item > a {
  color: #42b983;
  font-weight: bold;
  font-size: 0.9rem;
  transition: all 0.2s;
  line-height: 16px;
  display: block;
}
.section-list__item > a:hover{
  transform: scale(1.2);
}

.section-list__title{
  margin:0.5rem 0;
  font-size:1.2rem;
  font-weight: bold;
  color: #34495e;
}

@media (max-width: 600px) {
  .card-view .examples {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .list-view .section-list__example {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-view .section-list {
    align-self: flex-end;
  }
}

@media (min-width:600px) and (max-width: 768px) {
  .card-view .examples {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:769px) and (max-width:992px){
.card-view .examples {
    grid-template-columns: 1fr 1fr;
  }
}
