/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigationSlider .slidingNav ul li a{
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.navigationSlider .slidingNav ul li a:hover{
  color: #f7394f;
  background: rgba(0, 0, 0, 0.86);
}

.homeContainer {
  text-align: left;
}

.promoSection .promoRow .pluginRowBlock{
  justify-content: left;
}

.projectTitle{
  font-size: 400%;
  font-weight: bold;
}

.projectTitle span {
  color: black;
}

.projectTitle > small{
  color: black;
  font-size: 30%;
  max-width: 250px
}

.productShowcaseSection h2 {
  background: #f7394f;
  color: white;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  font-weight: bold;
}

.homeContainer .homeWrapper {
  padding: 6em 5em;
}

.productShowcaseSection p {
  max-width: 600px;
}

.productShowcaseSection.paddingBottom {
  padding-bottom: 0px;
}

.container.paddingTop {
  padding-top: 20px;
}

.gridBlock .fourByGridBlock {
  padding: 10px 120px;
}

.mainContainer{
  background: none;
}

#experiments .gridBlock{
  margin: 20px 0px 0px 0px;
}

footer .copyright{
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  line-height: 14px;
}

footer .fbOpenSource{
  text-align: center;
}

footer.nav-footer{
  background: #1c1a27;
  text-align: center;
}

footer .sitemap a{
  color: rgba(255, 255, 255, 0.86);
  width: 100%;
}

footer .sitemap h5 {
  font-weight: bold;
}

footer iframe{
  margin: 20px 0px 0px 0px;
}

#experiments img {
  max-width: 400px;
  margin-top: 10px;
}

.experiment {
  max-width: 500px;
}

/* Begin simple grid layout  */

.flex-grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.flex-col {
  flex: 1;
  min-width: 400px;
  padding: 14px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .flex-grid {
    display: block;
  }
}

/* End simple grid layout  */
