  button {
    margin: 4px;
    padding: 8px;
  }
  #output {
    height: 300px;
    background: lightgray;
  }
  .gif-container {
    display: flex;
    justify-content: space-between;
  }
  .container {
    position: relative;
    border: 4px solid pink;
  }
  .image {
    margin: 5px;
    opacity: 1;
    display: block;
    width: 100px;
    height: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .container:hover .image {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #333;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .body-container {
      display: flex;
      justify-content: space-between;
  }