# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [released]
    branches:
      - main

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
          with:
            persist-credentials: false
        - name: Reconfigure git to use HTTP authentication
          run: >
            git config --global url."https://github.com/".insteadOf
            ssh://git@github.com/
        - uses: actions/setup-node@v2
          with:
            node-version: "12.x"
            registry-url: https://registry.npmjs.org/
        - run: npm i
        - run: npm run build
        - run: npm publish
          env:
            NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
