# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [released]
    branches:
      - main

jobs:
  npm-publishing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - uses: actions/setup-node@v2
        with:
          node-version: "12.x"
          registry-url: https://registry.npmjs.org/
      - uses: release-drafter/release-drafter@v5
        id: release_drafter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: echo "bumping package to ${{ steps.release_drafter.outputs.name }}"
      - run: npm run update:packageVersion ${{ steps.release_drafter.outputs.name }}
      - run: npm run update:readme
      - run: npm ci
      - run: npm run build
      - run: npm publish ${{ steps.release_drafter.outputs.name }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
